@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor01: #23232e;
    --cor02: #20a6ff;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    background: var(--cor01);
    height: 8vh;
}

nav a {
    color: white;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 2px;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background-color: white;
    margin: 8px;
    transition: 0.3s;
}

main {
    height: 90vh;
}

/* Slide config */

.slider {
    margin: 0;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 4s;
}

.slide img {
    width: 100%;
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    width: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: .7s;
}

.manual-btn:not(:last-child) {
    margin-right: 35px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navigation-auto div {
    border: 2px solid var(--cor02);
    width: 10px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

.navigation-auto {
    position: absolute;
    width: 100%;
    margin-top: 460px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child) {
    margin-right: 35px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background-color: white;
}

/* Fim slide config */

footer {
    background: var(--cor01);
    text-align: center;
    height: 2vh;
}

footer, footer a {
    color: white;
}

@media screen and (max-width: 999px) {
    nav {
        flex-direction: column;
    }

    .slide img {
        height: 100%;
    }
}

@media screen and (max-width: 620px) {
    body {
        overflow-x: hidden;
    }

    nav {
        flex-direction: row;
    }

    .logo {
        margin: 20px;
    }

    .nav-list {
        position: absolute;
        z-index: 1;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: var(--cor01);
        opacity: 70%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .mobile-menu {
        display: block;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
      
      .mobile-menu.active .line2 {
        opacity: 0;
    }
      
      .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}